body {
    font-family: 'Roboto', sans-serif;
}

#fondoencabezado1 {
background-color: #1CD1B0;
font-size: 15px;
height: 38px;
margin: 0px;
padding-left: 10px;
display: flex;
align-items: center;
}

#encabezadoHeroes {
    font-size: 40px;
    background-color:#00669F;
    height: 101px;
    padding-left: 28px;
    display: flex;
    align-items: center;
    margin: 0px;
}

#ubicacionTarjetas {
    display: flex;
    justify-content: space-around;
    height: 885px;
}

.card {
    width: 300px;
    height: 529px;
    margin-top: 154px;
}

.cardSupBatman {
    background-image: url(../Img/Fondo\ Batman.png);
    background-size: cover;
    width: 300px;
    height: 193px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.cardInfBatman {
    width: 300px;
    height: 336px;
    margin-bottom: 0px;
    background-color: #F3F3F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.marcoCirculo {
    border-radius: 50%;
    display: flex;
    align-items: center;
    position: relative;
    top: 53px;
}

.fa-heart {
    color: #CC2424;
    display: flex;
    align-self: flex-start;
    padding-top: 15.88px;
    padding-left: 21px;
}    

.cardSupHar {
    width: 300px;
    height: 193px;
    background-image: url(../Img/Fondo\ Harley.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.cardInfHar {
    width: 300px;
    height: 336px;
    margin: 0px;
    background-color: #F3F3F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

#tituloCard {
    padding-top: 73px;
    margin: 0px;
}

#textoCard {
    padding: 0px 17px 16px;
}

#verMas {
    font-size: 15px;
    background-color: #00669F;
    width: 128.78px;
    height: 48.52px;
    margin-bottom: 18.48px;
}

#piePagina {
    background-color: #00669F;
    font-size: 16px;
    color: #FFF9F9;
    height: 51px;
    padding-left: 16px;
    display: flex;
    align-items: center;
}

@media (max-width: 768px) {

    #ubicacionTarjetas {
        display: flex;
        flex-wrap: wrap;
    }

    footer {
        margin-top: 1250px;
    }

}